    body {
        min-height: 700px;
        min-width: 1000px;
        overflow: scroll !important;
    }

    .main-container {}
    
    .header {
        min-height: 150px;
        line-height: 150px;
        position: relative;
    }
    
    .header-img {
        vertical-align: middle;
    }
    
    .footer {
        min-height: 100px;
    }
    
    .footer {
        background: #2f2f2f;
    }
    
    .content {
        border: #dbdfe5 solid 1px;
        border-left-style: none;
        padding: 10px;
        padding-bottom: 30px;
        margin-left: 5px;
        position: relative;
        /*min-height: 210px;*/
    }
    
    .sidebar {
       /* height: 500px;*/
    }
    
    .sidebar-btn {
        background-image: none !important;
        background-color: #ffe64e !important;
        color: #5c531c !important;
        text-align: center;
        cursor: pointer;
    }
    
    .sidebar-btn:hover {
        background-color: #ffef68 !important;
    }
    
    .sidebar-btn:focus {
        background-color: #ffcc00 !important;
    }

    .menu-panel-header {
        font-size: 15px;
        color: #5c531c !important;
    }

    .menu-panel-header:hover {
        text-decoration: none;
    }

    .submenu-panel {
        cursor: pointer;
    }

    .submenu-panel:hover {
        background-color: #ffffcc;
    }
    .panel-heading {
        padding: 7px 12px;
    }
    
    .user-info {
        text-align: right;
        font-size: 14px;
        vertical-align: top;
        color: gray;
        position: absolute;
        top: 55px;
        right: 10px;
    }

    .logo {
        padding: 0px;
        position: absolute;
        left: 10px;
    }
    
    .submit-button {
        position: absolute;
        right: 10px;
    }

    .cancel-button {
        position: absolute;
        right: 100px;
    }

    .submit-new-stock-button {
        position: absolute;
        right: 50px;
    }
    .add-item-icon {
        color: #ffcc00;
        font-size: 18px;
        margin-right: 3px;
    }
    
    .delete-item-icon {
        color: #cf7000;
        font-size: 18px;
        margin-right: 3px;
    }
    
    .add-new-row {}
    
    .item-attribute {
        padding-bottom: 15px;
        position: relative;
    }

    .item-details {
        display: inline-flex;
    }

    .item-price {
        height: 23px !important;
        padding: 0px 5px !important;
        width: 65px !important;
    }

    .item-code {
        height: 23px !important;
        padding: 0px 5px !important;
        width: 55px !important;
    }

    .item-name {
        height: 23px !important;
        padding: 0px 5px !important;
        width: 200px !important;
    }

    .item-description {
        height: 23px !important;
        padding: 0px 5px !important;
        width: 250px !important;
    }

    .item-quantity {
        height: 23px !important;
        padding: 0px 5px !important;
        width: 55px !important;      
    }

    .item-action {
        margin: 0px 12px;
        width: 10%;
        text-decoration: none;
    }

    .new-item-row {
    	background-color: #ccffff !important;
    }

    .new-item-row: hover {
    	background-color: #ccffff !important;
    }

    .total-sum-row {
        background-color: #ffeb66 !important;
    }
    
    .total-sum-row: hover {
        background-color: #ffeb66 !important;
    }

    .new-stock-table-control {
        height: 23px !important;
        padding: 0px 5px !important;
        width: auto !important;
    }

    .new-stock-table-header {
        text-align: center;
    }

    .stock-relocation-icon {
        color: #ffef68;
    }

    .stock-relocation-link {
        color: black;
    }
    
   .sell-item-icon {
        color: #c65af3;
        font-size: 18px;
        margin-right: 3px;
        opacity: 0.60;
    }

    .sell-item-icon:hover {
        color: #ab12ed;
    }

    .relocate-stock-icon {
        color: #ffef68;
        font-size: 18px;
        margin-right: 3px;
    }

    .relocate-stock-icon:hover {
        color: #ffcc00;
    }
    
    .modal-dialog {
        padding-top: 10%;
    }

    .sale-modal-dialog {
        width: 400px;
    }
    
    .modal-header {}
    /*.modal-content {
        height: 215px;
    }
    .modal-submit-button {
        position: absolute;
        right: 15px;
    }*/
    
    .popupModal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: white;
        opacity: 1;
    }
    
    label {
        font-weight: normal !important;
        color: #5c531c;
    }
    
    button {
        border-radius: 10px;
        background-color: #ffe64e;
        color: #5c531c;
    }

    .modal-backdrop
    {
         position: fixed;
         top: 0px;
         left: 0px;
         height:100%;
         width:100%;
         background: white;
         z-index: 1;
    }

    .modal-holder
    {
          position: fixed;
          top: 0px;
          left: 0px;
          height:100%;
          width:100%;
          background: transparent;
          z-index: 2;
          padding: 30px 15px;
    }

    .error-message {
        color: red;
    }

   .error-form-control {
        border: 1px solid red;
    }

    .no-results-found {
        color: gray !important;
        text-align: center;
    }

   .no-results-found > label {
        color: #d5d5c3;
        font-size: 17px;
    }

    .item-table {
    	margin-top: 25px;
    }

    .search-control-group {
        display: inline-flex;
    }

    .search-control-label {
        padding-right: 16px;
    }

    .search-control {
        height: 26px;
        padding: 3px;
    }

    .search-control-code {
        height: 26px;
        padding: 3px;
    }

    .centered-pagination {
        text-align: center;
    }

    .submit-inputs-margin-bottom {
        margin-bottom: 15px;
    }

    #spinner {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:1000;
        opacity: 0.8;
        background-color: white;
    }

    .right-border {
       z-index:1001; 
       background-color: white;
    }

    .nav-tabs > li > a {
        color: purple;
        font-weight: bold;
    }

    .nav-tabs > li.active > a {
        text-decoration: underline;
    }

    input {
        border:0 none !important;
    }

/*    .ng-invalid.ng-touched, .ng-submitted .ng-invalid {
        border: 1px solid red !important;
    }*/

    .label-error {
        color: red;
    }

    .sale-details:hover {
        background-color: #ffffff !important;
    }

    .borderless td, .borderless th {
        border: none !important;
    }