md-content.md-default-theme {
  background-color: #eee;
}
md-card {
  background-color: #fff;
}
md-card h2:first-of-type {
  margin-top: 0;
}
md-toolbar .md-button.md-default-theme {
  border-radius: 99%; 
}
h2 {
  font-weight: 400;
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
}
md-sidenav  ng-md-icon {
    position: relative;
    top: 5px; 
}
.user-avatar {
  border-radius: 99%;
}

a {
  text-decoration: none !important;
  color: gray !important;
}

.primary-icon {
  color: #9c27b0;
}

.loginBox {
  max-width:  90%;
  width: 500px
}

md-item-content:hover {
  background-color: #CACACA;
  color: white;
}

.disabled-page
{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

/*Select with serach term header*/
.selectSearchTermHeader .header-searchbox 
{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; 
}

.selectSearchTermHeader .select-header 
{
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; 
  }

.selectSearchTermHeader md-content._md 
{
    max-height: 240px; 
}

.report-summary
{
  background-color: #ffeb66;
}