    .ordered-stock-quantity{
        color: #808080;
        font-style: italic;
        font-size: 12px;
    }

    .kalafche-icon {
        color: #ffef68;
        font-size: 18px;
        margin-right: 3px;
    }

    .kalafche-icon:hover {
        color: #ffcc00;
    }