<div layout="column" ng-cloak>
     <md-content layout-padding layout="row" layout-xs="column">
        <div flex>
            <form name="leatherForm" server-validation novalidate>                
                <md-input-container class="md-block">
                    <label>Име</label>
                    <input ng-model="leather.name" name="name" required>
                    <span ng-message="serverError" class="label label-error">{{serverErrorMessages.name}}</span>
                </md-input-container>
            </form>
            <md-content layout="row">
                <md-button ng-if="leather.id" class="md-raised md-primary" ng-click="resetLeatherForm()">Отмени</md-button>
                <md-button ng-disabled="leatherForm.$invalid" ng-click="submitLeather()" class="md-raised md-primary">Запази</md-button>
            </md-content>
        </div>
        <div flex ng-if="leathers.length > 0">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th><label>#</label></th>
                        <th><label>Име</label></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="leather in leathers track by $index" current-page="currentPage" class="item-row">
                        <td>{{$index + 1}}</td>
                        <td>{{leather.name}}</td>
                        <td>
                            <a href="" ng-click="editLeather(leather)">
                                <md-icon class="primary-icon" md-svg-src="images/icons/edit.svg"></md-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
<!--             <div layout="row" layout-align="center center" class="centered-pagination">
                <dir-pagination-controls pagination-id="productType" template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
            </div> -->
        </div>
    </md-content>
</div>