<div ng-controller="EmployeeController">
    <div class="row">
        <div class="col-xs-12">
            <h4><label><u>Въвеждане на нов служител</u><label></h4>
        </div>
    </div>
    <form class="form-horizontal" name="employeeForm">
        <div class="form-group">
            <label for="inputEmployeeName" class="col-xs-3">Имена:</label>
            <div class="col-xs-9 submit-inputs-margin-bottom">
                <input class="form-control" style="width: 50%" ng-class="{'error-form-control': employeeForm.inputEmployeeName.$invalid && employeeForm.inputEmployeeName.$dirty}" name="inputEmployeeName" ng-model="newEmployee.name" placeholder="Име" ng-change="resetErrorMessage()" required>
                <span ng-if="isErrorMessageVisible" class="error-message">{{errorMessage}}</span>
            </div>

            <label for="selectKalafcheStore" class="col-xs-3">Избери магазин:</label>
            <div class="col-xs-9">
                <select name="selectKalafcheStore" ng-model="newEmployee.kalafcheStoreId" ng-class="{'error-form-control': employeeForm.selectKalafcheStore.$invalid && employeeForm.selectKalafcheStore.$dirty}" ng-options="kalafcheStore.id as kalafcheStore.city + ' - ' + kalafcheStore.name for kalafcheStore in kalafcheStores" class="form-control" style="width: 50%" required="">
                </select><br>
            </div>

            <label for="inputEmployeeUsername" class="col-xs-3">Акаунт:</label>
            <div class="col-xs-9 submit-inputs-margin-bottom">
                <input class="form-control" style="width: 50%" ng-class="{'error-form-control': employeeForm.inputEmployeeUsername.$invalid && employeeForm.inputEmployeeUsername.$dirty}" name="inputEmployeeUsername" ng-model="newEmployee.username" placeholder="Акаунт" required>
            </div>

            <label for="inputEmployeePassword" class="col-xs-3">Парола:</label>
            <div class="col-xs-9 submit-inputs-margin-bottom">
                <input class="form-control" style="width: 50%" ng-class="{'error-form-control': employeeForm.inputEmployeePassword.$invalid && employeeForm.inputEmployeePassword.$dirty}" name="inputEmployeePassword" ng-model="newEmployee.password" placeholder="Парола" required>
            </div>
        </div>

        <div class="form-group">
            <div>
                <button type="submit" class="btn submit-button" ng-disabled="employeeForm.$invalid" ng-click="submitEmployee()">Въведи</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-xs-8">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th><label>Имеna</label></th>
                        <th><label>Акаунт</label></th>
                        <th><label>Парола</label></th>
                        <th><label>Магазин</label></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="employee in employees | filter: {kalafcheStoreId: newEmployee.kalafcheStoreId}: true | itemsPerPage: employeesPerPage track by $index" current-page="currentPage" class="item-row">
                        <td>{{(currentPage - 1) * employeesPerPage + $index + 1}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.username}}</td>
                        <td>{{employee.password}}</td>
                        <td>{{employee.kalafcheStoreName}}</td>
                        <td>
                            <a href="" ng-click="editEmployee()"><span class="glyphicon glyphicon-edit kalafche-icon"></span></a>
                            <a href="" ng-if="employee.enabled" ng-click="deactivateAccount()"><span class="glyphicon glyphicon glyphicon-ban-circle sell-item-icon"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
        </div>
        <div class="col-xs-6"></div>
    </div>
</div>