<div ng-controller="ModelController">
    <div class="row">
        <div class="col-xs-12">
            <h4><label><u>Въвеждане на нов модел</u><label></h4>
        </div>
    </div>
    <form class="form-horizontal" name="deviceModelForm">
        <div class="form-group">
            <label for="selectBrand" class="col-xs-3">Избери марка:</label>
            <div class="col-xs-9">
                <select name="selectBrand" ng-model="newModel.deviceBrandId" ng-class="{'error-form-control': deviceModelForm.selectBrand.$invalid && deviceModelForm.selectBrand.$dirty}" ng-options="brand.id as brand.name for brand in brands" class="form-control" style="width: 100%" required="">
                </select><br>
            </div>

            <label for="selectDeviceType" class="col-xs-3">Избери тип:</label>
            <div class="col-xs-9">
                <select name="selectDeviceType" ng-model="newModel.deviceTypeId" ng-class="{'error-form-control': deviceModelForm.selectDeviceType.$invalid && deviceModelForm.selectDeviceType.$dirty}" ng-options="deviceType.id as deviceType.name for deviceType in deviceTypes" class="form-control" style="width: 100%" required>
                </select><br>
            </div>

            <label for="inputModel" class="col-xs-3">Модел:</label>
            <div class="col-xs-9">
                <input class="form-control" ng-class="{'error-form-control': deviceModelForm.inputModel.$invalid && deviceModelForm.inputModel.$dirty}" name="inputModel" ng-model="newModel.name" placeholder="Модел" ng-change="resetErrorMessage()" required>
                <span ng-if="isErrorMessageVisible" class="error-message">{{errorMessage}}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-11"></div>
            <div class="col-xs-1">
                <button type="submit" class="btn" ng-disabled="deviceModelForm.$invalid" ng-click="submitModel()">Въведи</button>
            </div>
        </div>
    </form>

    <div class="row" ng-if="newModel.deviceBrandId">
        <div class="col-xs-3">
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr dir-paginate="model in models | filter: {deviceBrandId: newModel.deviceBrandId}: true | itemsPerPage: modelsPerPage track by $index" current-page="currentPage" class="item-row">
                        <td>{{(currentPage - 1) * modelsPerPage + $index + 1}}</td>
                        <td>{{model.name}}</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
        </div>
        <div class="col-xs-9">
        </div>
    </div>
</div>