<form class="form-horizontal">
    <div class="form-group">
        <label for="selectBrand" class="col-xs-3">Избери марка:</label>
        <div class="col-xs-9">
            <select name="selectBrand" class="form-control" style="width: 100%">
                <option disabled selected></option>
                <option value="option-2">Sony</option>
                <option value="option-2">Samsung</option>
                <option value="option-2">Apple</option>
                <option value="option-2">Lenovo</option>
                <option value="option-2">Huawei</option>
            </select><br>
        </div>
    </div>

    <div class="form-group">
        <label for="inputModel" class="col-xs-3">Модел:</label>
        <div class="col-xs-9">
            <input class="form-control" name="inputModel" placeholder="Модел">
        </div>
    </div>

    <div class="form-group">
        <div>
            <button type="submit" class="btn submit-button">Въведи</button>
        </div>
    </div>
</form>