<div ng-controller="ItemController">
    <div class="row">
        <div class="col-xs-12">
            <h4><label><u>Въвеждане на нов артикул</u><label></h4>
        </div>
    </div>
<!--     <form class="form-horizontal" name="itemForm">
        <div class="form-group">
            <label for="inputProductCode" class="col-xs-1">Код:</label>
            <div class="col-xs-1">
                <input class="form-control" ng-model="item.productCode" name="inputProductCode" ng-class="{'error-form-control': itemForm.inputProductCode.$invalid && itemForm.inputProductCode.$dirty}" required="true" placeholder="Код" ng-change="resetErrorMessage()">
                <span ng-if="isCodeErrorMessageVisible" class="error-message">{{codeErrorMessage}}</span>
            </div>
            <div class="col-xs-9"></div>
        </div>

        <div class="form-group">
            <label for="inputName" class="col-xs-1">Име:</label>
            <div class="col-xs-5">
                <input class="form-control" ng-model="item.name" name="inputName" ng-class="{'error-form-control': itemForm.inputName.$invalid && itemForm.inputName.$dirty}" required="true" placeholder="Име" ng-change="resetErrorMessage()">
                <span ng-if="isNameErrorMessageVisible" class="error-message">{{nameErrorMessage}}</span>
            </div>
            <div class="col-xs-5"></div>
        </div>

        <div class="form-group">
            <label for="inputDescription" class="col-xs-1">Описание:</label>
            <div class="col-xs-10">
                <input class="form-control" ng-model="item.description" name="inputDescription" ng-class="{'error-form-control': itemForm.inputDescription.$invalid && itemForm.inputDescription.$dirty}" placeholder="Описание">
            </div>
        </div>

        <div class="form-group">
            <label for="inputDescription" class="col-xs-1">Цена:</label>
            <div class="col-xs-1">
                <input type="number" min="0" name="inputPrice" class="form-control" ng-class="{'error-form-control': itemForm.inputPrice.$dirty && itemForm.inputPrice.$invalid}" ng-model="item.price" required>
                <span ng-if="itemForm.inputPrice.$dirty && itemForm.inputPrice.$invalid" class="error-message">Попълването на цена е задължително</span>
            </div>
            <div class="col-xs-9"></div>
        </div>

        <div class="form-group">
            <div>
                <button type="submit" ng-click="submitItem()" ng-disabled="itemForm.$invalid" class="btn submit-button">Въведи</button>
            </div>
        </div>
    </form> -->

    <div class="row add-new-row">
        <div class="col-xs-2">
            <button class="btn" ng-disabled="isNewItemRowVisible" ng-click="addNewItemRow()" ng-if="isSuperAdmin()">Добави нов артикул</button>
        </div>
        <div class="col-xs-8">
        </div>
    </div>

    <div class="row item-table">
        <div class="col-xs-9">
            <form name="itemFormTable" novalidate>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th><label>Продуктов код</label></th>
                            <th><label>Име</label></th>
                            <th><label>Онлайн Име</label></th>
                            <th><label>Описание</label></th>
                            <th><label>Цена</label></th>
                            <th><label ng-if="isSuperAdmin()">Доставна</label></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="isNewItemRowVisible" class="success item-row new-item-row" ng-form name="newItemFormRow">
                            <td><input name="inputProductCode" type="text" ng-model="newItem.productCode" class="form-control item-code" ng-class="{'error-form-control': newItemFormRow.inputProductCode.$invalid && newItemFormRow.inputProductCode.$dirty}" required/></td>
                            <td><input name="inputName" type="text" ng-model="newItem.name" class="form-control item-name" ng-class="{'error-form-control': newItemFormRow.inputName.$invalid && newItemFormRow.inputName.$dirty}" required="true"/></td>
                            <td><input name="inputOnlineName" type="text" ng-model="newItem.onlineName" class="form-control item-name" ng-class="{'error-form-control': newItemFormRow.inputOnlineName.$invalid && newItemFormRow.inputOnlineName.$dirty}" required="true"/></td>
                            <td><input name="inputDescription" type="text" ng-model="newItem.description" class="form-control item-description" ng-class="{'error-form-control': newItemFormRow.inputDescription.$invalid && newItemFormRow.inputDescription.$dirty}"/></td>
                            <td><input name="inputPrice" type="number" min="0" ng-model="newItem.price" class="form-control item-price" ng-class="{'error-form-control': newItemFormRow.inputPrice.$dirty && newItemFormRow.inputPrice.$invalid}" required/></td>
                            <td><input ng-if="isSuperAdmin()" name="inputPurchasePrice" type="number" min="0" ng-model="newItem.purchasePrice" class="form-control item-price" ng-class="{'error-form-control': newItemFormRow.inputPurchasePrice.$dirty && newItemFormRow.inputPurchasePrice.$invalid}" required/></td>
<!--                             <td>
                               <input type="file" name="file" ng-model="fileInput" id="file" onchange="" />
                            </td> -->
                            <td ng-if="isSuperAdmin()">
                                <a href="" ng-click="submitNewItem()"><span class="glyphicon glyphicon-ok sell-item-icon"></span></a>
                                <a href="" ng-click="resetNewItem()"><span class="glyphicon glyphicon-trash sell-item-icon"></span></a>
                            </td>
                        </tr>
                        <tr ng-repeat="item in items track by $index" ng-include="getTemplate(item)" class="item-row" ng-form name="editItemFormRow">
                            <script type="text/ng-template" id="display">
                                <td>{{item.productCode}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.onlineName}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.price}}</td>
                                <td ng-if="isSuperAdmin()">{{item.purchasePrice}}</td>
                                <td ng-if="isSuperAdmin()"><a href="" ng-click="editItem(item)"><span class="glyphicon glyphicon-edit sell-item-icon"></span></a></td>
                            </script>
                            <script type="text/ng-template" id="edit">
                                <td>{{item.productCode}}</td>
                                <td><input name="inputName" type="text" ng-model="selectedItem.name" class="form-control item-name" ng-class="{'error-form-control': editItemFormRow.inputName.$invalid && editItemFormRow.inputName.$dirty}" required/></td>
                                <td><input name="inputOnlineName" type="text" ng-model="selectedItem.onlineName" class="form-control item-name" ng-class="{'error-form-control': editItemFormRow.inputOnlineName.$invalid && editItemFormRow.inputOnlineName.$dirty}" required="true"/></td>
                                <td><input name="inputDescription" type="text" ng-model="selectedItem.description" class="form-control item-description" ng-class="{'error-form-control': editItemFormRow.inputDescription.$invalid && editItemFormRow.inputDescription.$dirty}"/></td>
                                <td><input name="inputPrice" type="number" min="0" ng-model="selectedItem.price" class="form-control item-price" ng-class="{'error-form-control':editItemFormRow.inputPrice.$dirty && editItemFormRow.inputPrice.$invalid}" required/></td>
                                <td><input  ng-if="isSuperAdmin()" name="inputPurchasePrice" type="number" min="0" ng-model="selectedItem.purchasePrice" class="form-control item-price" ng-class="{'error-form-control':editItemFormRow.inputPurchasePrice.$dirty && editItemFormRow.inputPurchasePrice.$invalid}" required/></td>
                                <td ng-if="isSuperAdmin()">
                                    <a href="" ng-click="updateEdittedItem($index)"><span class="glyphicon glyphicon-ok sell-item-icon"></span></a>
                                    <a href="" ng-click="resetSelectedItem()"><span class="glyphicon glyphicon-remove sell-item-icon"></span></a>
                                </td>
                            </script>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>