<div ng-controller="BrandController">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputBrand" class="col-xs-3">Име на марка:</label>
            <div class="col-xs-9">
                <input class="form-control" ng-model="brand.name" name="inputBrand" required="true" ng-minlength="1" placeholder="Марка">
            </div>
        </div>

        <div class="form-group">
            <div>
                <button type="submit" class="btn submit-button" ng-click="submitBrand()">Въведи</button>
            </div>
        </div>
    </form>
</div>