<div ng-controller="BrandController">
    <div class="row">
        <div class="col-xs-12">
            <h4><label><u>Въвеждане на нова марка</u><label></h4>
        </div>
    </div>
    <form class="form-horizontal" name="deviceBrandForm">
        <div class="form-group">
            <label for="inputBrand" class="col-xs-3">Име на марка:</label>
            <div class="col-xs-9">
                <input class="form-control" ng-model="newBrand.name" name="inputBrand" ng-class="{'error-form-control': deviceBrandForm.inputBrand.$invalid && deviceBrandForm.inputBrand.$dirty}"  required="true" placeholder="Марка" ng-change="resetErrorMessage()">
                <span ng-if="isErrorMessageVisible" class="error-message">{{errorMessage}}</span>
            </div>
        </div>

        <div class="form-group">
            <div>
                <button type="submit" class="btn submit-button" ng-disabled="deviceBrandForm.$invalid" ng-click="submitBrand()">Въведи</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-xs-3">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="brand in brands track by $index" class="item-row">
                        <td>{{$index + 1}}</td>
                        <td>{{brand.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-9">
        </div>
    </div>
</div>