<div ng-controller="NewStockController">
    <div class="row new-stock-table-header" ng-if="itemsForStock.length > 0">
        <div class="col-xs-2">
            <label>Марка</label>
        </div>
        <div class="col-xs-2">
            <label>Модел</label>
        </div>
        <div class="col-xs-2">
            <label>Тип</label>
        </div>
        <div class="col-xs-2">
            <label>Цвят</label>
        </div>
        <div class="col-xs-2">
            <label>Цена</label>
        </div>
        <div class="col-xs-1">
            <label>Брой</label>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
    <div class="row">
        <div ng-repeat="item in itemsForStock track by $index">
            <div class="col-xs-2 item-attribute">
                <select name="selectBrand" ng-model="item.deviceBrandId" ng-options="brand.id as brand.name for brand in brands" class="form-control" style="width: 100%">
                    <option value="" selected/>
                </select>
            </div>
            <div class="col-xs-2 item-attribute">
                <select name="selectModel" ng-model="item.deviceModelId" ng-options="model.id as model.name for model in models | filter: {deviceBrandId : item.deviceBrandId}" class="form-control" style="width: 100%">
                    <option value="" selected/>
                </select>
            </div>
            <div class="col-xs-2 item-attribute">
                <select name="selectItem" ng-model="item.itemTypeId" ng-options="itemType.id as itemType.name for itemType in itemTypes" class="form-control" style="width: 100%">
                    <option value="" selected/>
                </select>
            </div>
            <div class="col-xs-2 item-attribute">
                <select name="selectColor" ng-model="item.colorId" ng-options="color.id as color.name for color in colors" class="form-control" style="width: 100%">
                    <option value="" selected/>
                </select>
            </div>
            <div class="col-xs-2 item-attribute">
                <input class="form-control" name="inputPrice" ng-model="item.price" required="true" ng-minlength="1">
            </div>
            <div class="col-xs-1 item-attribute">
                <input class="form-control" name="inputQuantity" ng-model="item.quantity" required="true" ng-minlength="1">
            </div>
             <div class="col-xs-1 item-attribute">
                <a href="" ng-click="deleteItemForStock($index)" style="text-decoration:none;">
                    <span class="glyphicon glyphicon-minus-sign delete-item-icon"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row add-new-row">
        <div class="col-xs-2">
            <a href="" ng-click="addItemForStock()" style="text-decoration:none;">
                <span class="glyphicon glyphicon-plus-sign add-item-icon"></span>
            </a>
            <label> Добави ред</label>
        </div>
        <div class="col-xs-2 col-xs-offset-8">
            <button ng-if="itemsForStock.length > 0" type="submit" class="btn submit-new-stock-button" ng-click="submitNewStock()">Въведи</button>
        </div>
    </div>
</div>