<div ng-controller="ItemTypeController">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputType" class="col-xs-3">Тип артикул:</label>
            <div class="col-xs-9">
                <input class="form-control" ng-model="itemType.name" name="inputType" required="true" ng-minlength="1" placeholder="Тип артикул">
            </div>
        </div>

        <div class="form-group">
            <div>
                <button type="submit" ng-click="submitItemType()" class="btn submit-button">Въведи</button>
            </div>
        </div>
    </form>
</div>