<!doctype html>
<html ng-app="kalafcheFrontendApp" class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/additional.css">
    <link rel="stylesheet" href="styles/spinner.css">
    <link rel="stylesheet" href="styles/dir-pagination.css">
    <!-- endbuild -->
    <style type="text/css">

    </style>
</head>

<body ng-controller="ApplicationController">
<!--     <div ui-view="modal"> </div> -->
<!-- Pop up for login  -->

   <!-- End of pop up for login -->
    <div class="container-fluid main-container">
        
        <div class="row" ng-cloak>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10">
                <div class="row header" style="padding: 0px;">
                    <div class="col-xs-6" style="padding: 0px;">
                        <img src="images/logo_small.png" class="header-img" />
                    </div>
                    <div class="col-xs-6">
                        <div class="user-info">
                            <span class="glyphicon glyphicon-user"></span>
                            <span> {{currentUser.employeeName}} </span>
                            <a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2" style="padding: 0px;">
                        <div class="sidebar">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default" ui-sref="inStock">
                                    <div class="panel-heading sidebar-btn collapseall">
                                        <div class="panel-title">
                                            <span class="menu-panel-header">Търсене</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" ui-sref="newStock">
                                    <div class="panel-heading sidebar-btn collapseall">
                                        <div class="panel-title">
                                            <span class="menu-panel-header">Нова стока</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading sidebar-btn">
                                        <div data-parent="#accordion" data-toggle="collapse" data-target="#collapse2" class="panel-title">
                                            <span class="menu-panel-header">Въвеждане</span>
                                        </div>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse collapse">
                                        <ul class="list-group">
                                            <li class="list-group-item submenu-panel" ui-sref="deviceType">Тип устройства</li>
                                            <li class="list-group-item submenu-panel" ui-sref="brand">Mарки</li>
                                            <li class="list-group-item submenu-panel" ui-sref="model">Модели</li>
                                            <li class="list-group-item submenu-panel" ui-sref="partner">Партньори</li>
                                            <li class="list-group-item submenu-panel" ui-sref="partnerStore">Магазини партньори</li>
                                            <li class="list-group-item submenu-panel" ui-sref="item">Артикули</li>
                                            <li class="list-group-item submenu-panel" ui-sref="employee">Служители</li>
                                        </ul>
                                    </div>
                                </div>
                                <div ng-if="!isAdmin()" class="panel panel-default" ui-sref="saleReport">
                                    <div class="panel-heading sidebar-btn collapseall">
                                        <div class="panel-title">
                                            <span class="menu-panel-header">Справки</span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="isAdmin()" class="panel panel-default">
                                    <div class="panel-heading sidebar-btn">
                                        <div data-parent="#accordion" data-toggle="collapse" data-target="#collapse3" class="panel-title">
                                            <span class="menu-panel-header">Справки</span>
                                        </div>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse collapse">
                                        <ul class="list-group">
                                            <li class="list-group-item submenu-panel" ui-sref="saleReport">Продажби</li>
                                            <li class="list-group-item submenu-panel" ui-sref="stockReport">Наличности</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel panel-default" ui-sref="stockRelocation">
                                    <div class="panel-heading sidebar-btn collapseall">
                                        <div class="panel-title">
                                            <span class="menu-panel-header">Релокация</span>
                                        </div>
                                    </div>
                                </div> 
                            <!--<div ng-if="isAdmin()" class="panel panel-default" ui-sref="stockOrder">
                                    <div class="panel-heading sidebar-btn collapseall">
                                        <div class="panel-title">
                                            <span class="menu-panel-header">Поръчки</span>
                                        </div>
                                    </div>
                                </div> -->                               
                            </div> 
                        </div>
                    </div>
                    <div class="col-xs-10" style="padding: 0px;">
                        <div class="content">
                            <div id="view" ui-view></div>
                            <!-- <div id="spinner">
                                <div class="spinner">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
<!--                 <div class="row">
                    <div class="col-xs-12" style="padding: 0px;">
                        <div class="footer"></div>
                    </div>
                </div> -->
            </div>
            <div class="col-xs-1 right-border">
            </div>
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<!--     <script>
    $(document).ready(function() {
        $("#loginModal").modal('show');
    });
    ! function(A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script> -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <!-- Controllers -->
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/ApplicationController.js"></script>
    <script src="scripts/controllers/NewStockController.js"></script>
    <script src="scripts/controllers/InStockController.js"></script>
    <script src="scripts/controllers/BrandController.js"></script>
    <script src="scripts/controllers/ModelController.js"></script>
    <script src="scripts/controllers/DeviceTypeController.js"></script>
    <script src="scripts/controllers/ItemController.js"></script>
    <script src="scripts/controllers/SaleReportController.js"></script>
    <script src="scripts/controllers/StockReportController.js"></script>
    <script src="scripts/controllers/loginModalController.js"></script>
    <script src="scripts/controllers/LoginController.js"></script>
    <script src="scripts/controllers/StockModalController.js"></script>
    <script src="scripts/controllers/OrderModalController.js"></script>
    <script src="scripts/controllers/StockRelocationController.js"></script>
    <script src="scripts/controllers/PartnerController.js"></script>
    <script src="scripts/controllers/PartnerStoreController.js"></script>
    <script src="scripts/controllers/StockOrderController.js"></script>
    <script src="scripts/controllers/EmployeeController.js"></script>
    <!-- Services -->
    <script src="scripts/services/ApplicationService.js"></script>
    <script src="scripts/services/BrandService.js"></script>
    <script src="scripts/services/ModelService.js"></script>
    <script src="scripts/services/DeviceTypeService.js"></script>
    <script src="scripts/services/ItemService.js"></script>
    <script src="scripts/services/NewStockService.js"></script>
    <script src="scripts/services/InStockService.js"></script>
    <script src="scripts/services/ColorService.js"></script>
    <script src="scripts/services/AuthService.js"></script>
    <script src="scripts/services/SessionService.js"></script>
    <script src="scripts/services/KalafcheStoreService.js"></script>
    <script src="scripts/services/SaleService.js"></script>
    <script src="scripts/services/PartnerService.js"></script>
    <script src="scripts/services/PartnerStoreService.js"></script>
    <script src="scripts/services/StockRelocationService.js"></script>
    <script src="scripts/services/StockOrderService.js"></script>
    <script src="scripts/services/OrderedStockService.js"></script>
    <script src="scripts/services/EmployeeService.js"></script>
    
    <!-- Directives -->
    <script src="scripts/directives/SaleModalDirective.js"></script>
    <script src="scripts/directives/EnterKeyPressDirective.js"></script>

    <script src="scripts/interceptors/AuthInterceptor.js"></script>
    <script src="scripts/interceptors/SessionTimeoutInterceptor.js"></script>
    <!-- <script src="scripts/interceptors/SpinnerInterceptor.js"></script> -->

    <!-- Constants -->
    <script src="scripts/constants/UserRoles.js"></script>
    <script src="scripts/constants/AuthEvents.js"></script>
    <!-- endbuild -->
</body>

</html>
