<div ng-controller="InStockController">
    <div class="row">
        <div class="col-xs-12">
            <h4><label><u>Търсене в наличности</u><label></h4>
        </div>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-2 search-control-group">
                <label class="search-control-label" for="inputProductCode">Код:</label>           
                <input name="inputProductCode" class="form-control search-control-code" ng-model="productCode" maxlength="30" ng-change="resetCurrentPage()" style="width:70%">
            </div>
            <div class="col-xs-3 search-control-group">
                <label class="search-control-label" for="selectBrand">Марка:</label>           
                <select class="form-control search-control" name="selectBrand" ng-model="selectedBrand.id" ng-options="brand.id as brand.name for brand in brands" ng-change="resetCurrentPage()">
                    <option value="" selected/>
                </select>
            </div>

            <div class="col-xs-3 search-control-group">
                <label class="search-control-label" for="selectModel">Модел:</label>
                <select class="form-control search-control" name="selectModel" ng-model="selectedModel.id" ng-disabled="!selectedBrand.id" ng-options="model.id as model.name for model in models | filter: {deviceBrandId : selectedBrand.id} : true" ng-change="resetCurrentPage()">
                    <option value="" selected/>
                </select>
            </div>
            <div class="col-xs-4 search-control-group">
                <label class="search-control-label" for="selectKalafcheStore">Магазин:</label>
                <select class="form-control search-control" name="selectKalafcheStore" ng-model="selectedKalafcheStore.id" ng-options="kalafcheStore.id as kalafcheStore.city + ', ' + kalafcheStore.name for kalafcheStore in kalafcheStores" ng-change="resetCurrentPage()">
                    <option value="" selected/>
                </select>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <label>Марка</label>
                        </th>
                        <th>
                            <label>Модел</label>
                        </th>
                        <th>
                            <label>Артикул</label>
                        </th>
                        <th ng-if="!selectedKalafcheStore.id">
                            <label>Магазин</label>
                        </th>
                        <th>
                            <label>Kод</label>
                        </th>
                        <th>
                            <label>Цена</label>
                        </th>
                        <th>
                            <label>Брой</label>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>               
                    <tr dir-paginate="inStock in inStockList | filter:(!!selectedBrand.id || undefined) && {deviceBrandId: selectedBrand.id} : true | filter:(!!selectedModel.id || undefined) && {deviceModelId: selectedModel.id} : true | filter:(!!selectedKalafcheStore.id || undefined) && {kalafcheStoreId: selectedKalafcheStore.id} : true | filter:(!!productCode || undefined) && filterByProductCode() | itemsPerPage: inStockPerPage track by $index"  current-page="currentPage" class="item-row">
                        <td>{{(currentPage - 1) * inStockPerPage + $index + 1}}</td>
                        <td>{{inStock.deviceBrandName}}</td>
                        <td>{{inStock.deviceModelName}}</td>
                        <td>{{inStock.itemName}}</td>
                        <td ng-if="!selectedKalafcheStore.id">{{inStock.kalafcheStoreName}}</td>
                        <td>{{inStock.itemProductCode}}</td>
                        <td>{{inStock.itemPrice}}</td>
                        <td>{{inStock.quantity}} <span ng-if="inStock.orderedQuantity && inStock.orderedQuantity > 0 && selectedKalafcheStore.name == 'Кауфланд 1'" class="ordered-stock-quantity"> + {{inStock.orderedQuantity}}</span></td>

                        <td>
                            <a ng-if="inStock.quantity > 0 && !isAdmin() && isEmployeeKalafcheStoreSelected(inStock)" href="" ng-click="openSaleModal(inStock)"><span class="glyphicon glyphicon-piggy-bank sell-item-icon"></span></a>
                            <a ng-if="inStock.quantity > 0 && !isAdmin() && !isEmployeeKalafcheStoreSelected(inStock)" href="" ng-click="openRelocationModal(inStock)"><span class="glyphicon glyphicon-share-alt kalafche-icon"></span></a>
                        </td>
                    </tr>
                     <tr ng-show="isTotalSumRowVisible()" class="warning total-sum-row item-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td ng-if="!selectedKalafcheStore.id"></td>
                        <td></td>
                        <td><b>{{getTotalSum()}}</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="centered-pagination">
                <dir-pagination-controls template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
            <div>
        </div>
    </div>

<!--     <sale-modal title="Продажба" discountPercentage="discountPercentage" partnerCode="partnerCode" visibility="showSaleModal">
    </sale-modal> -->

    <script type="text/ng-template" id="saleModal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeModal()" aria-hidden="true">&times;</button> 
            <label><h4 class="modal-title">Продажба</h4></label><br/>
            <label>на {{selectedStock.itemName}} за {{selectedStock.deviceBrandName}} {{selectedStock.deviceModelName}}, цена {{selectedStock.itemPrice}}лв</label>
        </div>
        <div class="modal-body">                
            <form name="saleForm" class="form-horizontal">
                <div class="form-group">
                    <label for="inputId" class="col-xs-5">ID на посредник:</label>
                    <div class="col-xs-7">
                        <input class="form-control" name="inputId" placeholder="ID" ng-model="partnerCode" ng-blur="onChangePartnerCode()">
                        <span ng-if="showPartnerCodeErrorText" class="error-message">{{invalidPartnerCodeErrorText}}</span>
                        <label ng-if="partner">{{partner.name}}, {{partner.partnerStoreName}}, {{partner.phoneNumber}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputId" class="col-xs-5">Намалена цена:</label>
                    <div class="col-xs-7">
                        <input style="width:60%" class="form-control" type="number" min="0" name="inputDiscount" placeholder=".лв" ng-model="salePrice">
                        <span class="error-message" ng-if="saleForm.inputDiscount.$error.number || saleForm.inputDiscount.$error.min || saleForm.inputDiscount.$error.max">Невалидна намалена цена!</span>
                        <span ng-if="showSalePriceErrorText" class="error-message">{{invalidSalePriceErrorText}}</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" ng-click="closeModal()">Отмени</button>
            <button class="btn" type="button" ng-disabled="isSubmitButonDisabled" ng-click="submitSale()">Потвърди</button>
        </div>
    </script>

    <script type="text/ng-template" id="relocationModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
            <label><h4 class="modal-title">Заявка за релокация</h4></label><br/>
            <label>на {{selectedStock.itemName}} за {{selectedStock.deviceBrandName}} {{selectedStock.deviceModelName}}, цена {{selectedStock.itemPrice}}лв <b>от магазин {{selectedStock.kalafcheStoreName}}</b></label>
        </div>
        <div class="modal-body">                
            <form name="relocationForm" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-3"></div>
                    <div style="text-align: right;">
                        <label for="inputId" class="col-xs-3">Брой:</label>
                    </div>
                    <div class="col-xs-2">
                        <input class="form-control" type="number" min="1" max="{{selectedStock.quantity}}" name="inputQuantity" ng-class="{'error-form-control': relocationForm.inputQuantity.$error.number || relocationForm.inputQuantity.$error.max || saleForm.inputQuantity.$error.min}" ng-model="quantityForRelocation">
                    </div>
                    <div class="col-xs-4">
                        <span class="error-message" ng-if="relocationForm.inputQuantity.$error.number || relocationForm.inputQuantity.$error.max || saleForm.inputQuantity.$error.min">Невалидно количество!</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" ng-click="closeModal()">Отмени</button>
            <button class="btn" type="button" ng-click="submitRelocation()">Потвърди</button>
        </div>
    </script>

</div>