<div ng-controller="PartnerController" layout="column" ng-cloak>
     <md-content layout-padding layout="row">
        <div flex-xs="100" flex="50">
            <form name="partnerForm" server-validation novalidate>
                <md-input-container class="md-block">
                    <label>Имена</label>
                    <input ng-model="partner.name" name="name" required>
                    <span ng-message="serverError" class="label label-error">{{serverErrorMessages.name}}</span>
                </md-input-container> 
                <md-input-container class="md-block">
                    <label>Телефонен номер</label>
                    <input ng-model="partner.phoneNumber" name="phoneNumber" required>
                    <span ng-message="serverError" class="label label-error">{{serverErrorMessages.phoneNumber}}</span>  
                </md-input-container>             
                <md-input-container class="md-block" ng-if="!partner.id">
                    <label>Код</label>
                    <md-select name="discountCodeId" ng-model="partner.discountCodeId" required>
                        <md-option value="" selected></md-option>
                        <md-option ng-repeat="discountCode in discountCodes" ng-value="discountCode.id">
                            {{discountCode.code}}
                        </md-option>
                    </md-select>
                    <span ng-message="serverError" class="label label-error">{{serverErrorMessages.discountCodeId}}</span>
                </md-input-container>
                <md-input-container class="md-block" ng-if="partner.id">
                    <span>Код   {{partner.discountCodeCode}}
                    <hr/> 
                    </span>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Магазин</label>
                    <md-select name="partnerStoreId" ng-model="partner.partnerStoreId" required>
                        <md-option value="" selected></md-option>
                        <md-option ng-repeat="partnerStore in partnerStores" ng-value="partnerStore.id">
                            {{partnerStore.city}}, {{partnerStore.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </form>
            <md-content layout="row">
                <md-button ng-disabled="partnerForm.$invalid" ng-click="submitPartner()" class="md-raised md-primary">Запази</md-button>
                <md-button ng-if="partner.id" class="md-raised md-primary" ng-click="resetPartnerForm()">Отмени</md-button>
            </md-content>
        </div>
    </md-content>
    <md-content layout-padding layout="row" layout-xs="column">
        <div flex="100">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th><label>Име</label></th>
                        <th><label>Тел.номер</label></th>
                        <th><label>Код</label></th>
                        <th><label>Магазин</label></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr dir-paginate="partner in partners | itemsPerPage: partnersPerPage track by $index" current-page="currentPage" class="item-row">
                        <td>{{(currentPage - 1) * partnersPerPage + $index + 1}}</td>
                        <td>{{partner.name}}</td>
                        <td>{{partner.discountCodeCode}}</td>
                        <td>{{partner.partnerStoreName}}</td>
                        <td>{{partner.phoneNumber}}</td>
                        <td>
                            <a href="" ng-click="openPartnerForEdit(partner)">
                                <md-icon class="primary-icon" md-svg-src="images/icons/edit.svg"></md-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div layout="row" layout-align="center center" class="centered-pagination">
                <dir-pagination-controls template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
            </div>
        </div>
    </md-content>