<div layout="column" layout-align="center center" style="min-height: 600px" layout-fill="layout-fill">
  <div layout="column" class="loginBox md-whiteframe-z1">
    <md-toolbar>
      <div flex></div>
      <div class="md-toolbar-tools" layout-align="center center" flex>
        <!-- <img style="height:65px" src="images/logo_small_transperant.png"/> -->
        <h2>Вписване</h2>
      </div>
      <div flex></div>
    </md-toolbar>
    <form name="loginForm">
      <md-content layout="column" class="md-padding">
        <md-input-container class="md-input-has-placeholder">
          <label>Username</label>
          <input required type="text" ng-model="credentials.username" name="username"/>
          <div ng-messages="loginForm.username.$error">
            <div ng-message="required">Полето е задължително.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-input-has-placeholder">
          <label>Password</label>
          <input required type="password" ng-model="credentials.password" name="password"/>
          <div ng-messages="loginForm.password.$error" role="alert">
            <div ng-message="required">Полето е задължително.</div>
          </div>
        </md-input-container>
        <div layout="row" layout-align="center center">
          <md-button ng-click="login()" type="submit" class="md-raised md-primary">Влез</md-button>
        </div>
      </md-content>
    </form>
  </div>
</div>