<div ng-controller="StockOrderController">
    <div class="row">
        <div class="col-xs-12">
            <h4><label><u>Текуща Поръчка</u><label></h4>
        </div>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-2 search-control-group">
                <label class="search-control-label" for="inputProductCode">Код:</label>           
                <input name="inputProductCode" class="form-control search-control-code" ng-model="productCode" maxlength="30" ng-change="resetCurrentPage()" style="width:70%">
            </div>
            <div class="col-xs-3 search-control-group">
                <label class="search-control-label" for="selectBrand">Марка:</label>           
                <select class="form-control search-control" name="selectBrand" ng-model="selectedBrand.id" ng-options="brand.id as brand.name for brand in brands" ng-change="resetCurrentPage()">
                    <option value="" selected/>
                </select>
            </div>
            <div class="col-xs-3 search-control-group">
                <label class="search-control-label" for="selectModel">Модел:</label>
                <select class="form-control search-control" name="selectModel" ng-model="selectedModel.id" ng-disabled="!selectedBrand.id" ng-options="model.id as model.name for model in models | filter: {deviceBrandId : selectedBrand.id} : true" ng-change="resetCurrentPage()">
                    <option value="" selected/>
                </select>
            </div>
            <!-- <div class="col-xs-2">
                <button type="submit" ng-if="!stockOrder" class="btn" ng-click="createNewStockOrder()">Нова поръчка</button>
            </div> -->
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <label>Марка</label>
                        </th>
                        <th>
                            <label>Модел</label>
                        </th>
                        <th>
                            <label>Артикул</label>
                        </th>
                        <th>
                            <label>Kод</label>
                        </th>
                        <th>
                            <label>Брой</label>
                        </th>
                    </tr>
                </thead>
                <tbody>              
                    <tr dir-paginate="orderedStock in orderedStockList | filter:(!!selectedBrand.id || undefined) && {deviceBrandId: selectedBrand.id} : true | filter:(!!selectedModel.id || undefined) && {deviceModelId: selectedModel.id} : true | filter:(!!productCode || undefined) && filterByProductCode() | orderBy: '-id' | itemsPerPage: orderedStockPerPage track by $index"  current-page="orderedStockCurrentPage" pagination-id="orderedStockPagination" class="item-row">
                        <td>{{(orderedStockCurrentPage - 1) * orderedStockPerPage + $index + 1}}</td>
                        <td>{{orderedStock.deviceBrandName}}</td>
                        <td>{{orderedStock.deviceModelName}}</td>
                        <td>{{orderedStock.itemName}}</td>
                        <td>{{orderedStock.itemProductCode}}</td>
                        <td>{{orderedStock.quantity}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="centered-pagination">
                <dir-pagination-controls template-url="views/directives/dir-pagination.html" pagination-id="orderedStockPagination"></dir-pagination-controls>
            <div>
        </div>
    </div>

    <script type="text/ng-template" id="stockOrderModal">
        <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="stockOrderModal" aria-hidden="true">&times;</button> -->
            <label><h4 class="modal-title">Поръчка</h4></label><br/>
            <label>на {{orderedStock.itemName}} за {{orderedStock.deviceBrandName}} {{orderedStock.deviceModelName}}</label>
        </div>
        <div class="modal-body">                
            <form name="orderForm" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-6"></div>
                    <div style="text-align: right;">
                        <label for="inputQuantity" class="col-xs-3">Количество:</label>
                        <input class="form-control" type="number" min="1" name="inputQuantity" ng-class="{'error-form-control': orderForm.inputQuantity.$error.number || orderForm.inputQuantity.$error.min}" ng-model="quantityForOrder">
                    </div>
                    <div class="col-xs-4">
                        <span class="error-message" ng-if="orderForm.inputQuantity.$error.number || orderForm.inputQuantity.$error.min">Невалидно количество!</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" ng-click="closeModal()">Отмени</button>
            <button class="btn" type="button" ng-click="submitOrderedStock()">Потвърди</button>
        </div>
    </script>

</div>