<div ng-controller="KalafcheStoreController">
    <div class="row">
        <div class="col-xs-12">
            <h4><label><u>Търговска мрежа</u><label></h4>
        </div>
    </div>
    <form class="form-horizontal" name="kalafcheStoreForm">
        <div class="form-group">
            <label for="inputKalafcheStoreName" class="col-xs-3">Име:</label>
            <div class="col-xs-9 submit-inputs-margin-bottom">
                <input class="form-control" style="width: 50%" ng-class="{'error-form-control': kalafcheStoreForm.inputKalafcheStoreName.$invalid && kalafcheStoreForm.inputKalafcheStoreName.$dirty}" name="inputKalafcheStoreName" ng-model="newKalafcheStore.name" placeholder="Име" ng-change="resetErrorMessage()" required>
                <span ng-if="isErrorMessageVisible" class="error-message">{{errorMessage}}</span>
            </div>

            <label for="inputKalafcheStoreCity" class="col-xs-3">Населено място:</label>
            <div class="col-xs-9">
                <input class="form-control" style="width: 50%" ng-class="{'error-form-control': kalafcheStoreForm.inputKalafcheStoreCity.$invalid && kalafcheStoreForm.inputKalafcheStoreCity.$dirty}" name="inputKalafcheStoreCity" ng-model="newKalafcheStore.city" placeholder="Населено място" ng-change="resetErrorMessage()" required><br>
            </div>
        </div>

        <div class="form-group">
            <div>
                <button type="submit" class="btn submit-button" ng-disabled="kalafcheStoreForm.$invalid" ng-click="submitKalafcheStore()">Въведи</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-xs-6">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th><label>Име</label></th>
                        <th><label>Наелено място</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="kalafcheStore in kalafcheStores | itemsPerPage: kalafcheStoresPerPage track by $index" current-page="currentPage" class="item-row">
                        <td>{{(currentPage - 1) * kalafcheStoresPerPage + $index + 1}}</td>
                        <td>{{kalafcheStore.name}}</td>
                        <td>{{kalafcheStore.city}}</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
        </div>
        <div class="col-xs-6"></div>
    </div>
</div>