<div ng-controller="PartnerController">
    <div class="row">
        <div class="col-xs-12">
            <h4><label><u>Въвеждане на нов партньор</u><label></h4>
        </div>
    </div>
    <form class="form-horizontal" name="partnerForm">
        <div class="form-group">
            <label for="selectPartnerStore" class="col-xs-3">Избери магазин:</label>
            <div class="col-xs-9">
                <select name="selectPartnerStore" ng-model="newPartner.partnerStoreId" ng-class="{'error-form-control': partnerForm.selectPartnerStore.$invalid && partnerForm.selectPartnerStore.$dirty}" ng-options="partnerStore.id as partnerStore.city + ' - ' + partnerStore.name for partnerStore in partnerStores" class="form-control" style="width: 50%" required="">
                </select><br>
            </div>

<!--             <label for="selectDeviceType" class="col-xs-3">Избери тип:</label>
            <div class="col-xs-9">
                <select name="selectDeviceType" ng-model="newPartner.deviceTypeId" ng-class="{'error-form-control': partnerForm.selectDeviceType.$invalid && partnerForm.selectDeviceType.$dirty}" ng-options="deviceType.id as deviceType.name for deviceType in deviceTypes" class="form-control" style="width: 100%" required>
                </select><br>
            </div> -->

            <label for="inputPartnerName" class="col-xs-3">Име:</label>
            <div class="col-xs-9 submit-inputs-margin-bottom">
                <input class="form-control" style="width: 50%" ng-class="{'error-form-control': partnerForm.inputPartnerName.$invalid && partnerForm.inputPartnerName.$dirty}" name="inputPartnerName" ng-model="newPartner.name" placeholder="Име" ng-change="resetErrorMessage()" required>
                <span ng-if="isErrorMessageVisible" class="error-message">{{errorMessage}}</span>
            </div>

            <label for="inputPartnerCode" class="col-xs-3">Код:</label>
            <div class="col-xs-9 submit-inputs-margin-bottom">
                <input class="form-control" style="width: 20%" ng-class="{'error-form-control': partnerForm.inputPartnerCode.$invalid && partnerForm.inputPartnerCode.$dirty}" name="inputPartnerCode" ng-model="newPartner.code" placeholder="Код" ng-change="resetErrorMessage()" required>
                <span ng-if="isErrorMessageVisible" class="error-message">{{errorMessage}}</span>
            </div>

            <label for="inputPartnerPhoneNumber" class="col-xs-3">Телефон:</label>
            <div class="col-xs-9">
                <input class="form-control" style="width: 30%" ng-class="{'error-form-control': partnerForm.inputPartnerPhoneNumber.$invalid && partnerForm.inputPartnerPhoneNumber.$dirty}" name="inputPartnerPhoneNumber" ng-model="newPartner.phoneNumber" placeholder="Телефон" ng-change="resetErrorMessage()" required>
                <span ng-if="isErrorMessageVisible" class="error-message">{{errorMessage}}</span>
            </div>
        </div>

        <div class="form-group">
            <div>
                <button type="submit" class="btn submit-button" ng-disabled="partnerForm.$invalid" ng-click="submitPartner()">Въведи</button>
            </div>
        </div>
    </form>

    <div class="row" ng-if="newPartner.partnerStoreId">
        <div class="col-xs-6">
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr dir-paginate="partner in partners | filter: {partnerStoreId: newPartner.partnerStoreId}: true | itemsPerPage: partnersPerPage track by $index" current-page="currentPage" class="item-row">
                        <td>{{(currentPage - 1) * partnersPerPage + $index + 1}}</td>
                        <td>{{partner.name}}</td>
                        <td>{{partner.code}}</td>
                        <td>{{partner.phoneNumber}}</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
        </div>
        <div class="col-xs-6"></div>
    </div>
</div>