<div ng-controller="SaleReportController">
    <div class="row">
        <div class="col-xs-12">
            <h4><label><u>Справки</u><label></h4>
        </div>
    </div>
    <form class="form-horizontal" ng-show="isAdmin()">
        <div class="form-group">
            <label for="selectKalafcheStore" class="col-xs-1" ng-if="isAdmin()">Магазин:</label>
            <div ng-if="isAdmin()" class="col-xs-2">
                <select class="form-control" name="selectKalafcheStore" ng-model="selectedKalafcheStore.identifiers" ng-options="kalafcheStore.identifiers as kalafcheStore.displayName for kalafcheStore in kalafcheStores" ng-change="searchSales()">
                    <!-- <option value="" selected/> -->
                </select>
            </div>

            <div class="col-xs-1"></div>

            <label for="selectKalafcheStore" class="col-xs-1">Период: </label>
            <div class="col-xs-2">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="startDate" is-open="startDatePopup.opened" datepicker-options="startDateOptions" ng-required="true" close-text="Close" ng-change="changeStartDate()" show-button-bar="false" onkeydown="return false" ng-paste="$event.preventDefault()"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openStartDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>

            <div class="col-xs-2">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="endDate" is-open="endDatePopup.opened" datepicker-options="endDateOptions" ng-required="true" close-text="Close"  ng-change="changeEndDate()" show-button-bar="false" onkeydown="return false" ng-paste="$event.preventDefault()"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openEndDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>

            <div class="col-xs-1"></div>

            <div class="col-xs-2 search-control-group">
                <label class="search-control-label" for="inputProductCode">Код:</label>           
                <input name="inputProductCode" class="form-control search-control-code" ng-model="productCode" maxlength="30" style="width:60%">
            </div>
        </div>
        <div class="form-group">
            <label for="selectBrand" class="col-xs-1" ng-if="isAdmin()">Марка:</label>
            <div  ng-if="isAdmin()" class="col-xs-2">
                <select class="form-control" name="selectBrand" ng-model="selectedBrand.id" ng-options="brand.id as brand.name for brand in brands">
                    <option value="" selected/>
                </select>
            </div>

            <div class="col-xs-1"></div>

            <label class="col-xs-1" for="selectModel">Модел:</label>
            <div  ng-if="isAdmin()" class="col-xs-2">
                <select class="form-control search-control" name="selectModel" ng-model="selectedModel.id" ng-disabled="!selectedBrand.id" ng-options="model.id as model.name for model in models | filter: {deviceBrandId : selectedBrand.id} : true">
                    <option value="" selected/>
                </select>
            </div>

            <div class="col-xs-1"></div>

            <button ng-if="isAdmin()" class="btn submit-new-stock-button" ng-click="searchSales()">Търси</button>
        </div>
    </form>
    <div ng-show="isQuantitiesVisible">
        <hr>
        <div class="row">
            <div class="col-xs-3"><h7>Наличност <b>склад</b>: {{warehouseQuantity}}</h7></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-3"><h7>Наличност <b>фирма</b>: {{companyQuantity}}</h7></div>     
        </div>
        <hr>
    </div>
<!--     <form class="form-horizontal">
        <div class="form-group">
            <label for="checkCalculateDiscounts" class="col-xs-3 col-xs-offset-9">Покажи цените с отстъпка
                <input type="checkbox" ng-model="displayCostWithDiscounts" name="checkDisplayCostWithDiscounts" ng-change="changeDisplayCostWithDiscounts()"></input>
            </label>
        </div>
    </form> -->
    <div class="row">
        <div class="col-xs-12" ng-show="sales.length > 0">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <label>Марка</label>
                        </th>
                        <th>
                            <label>Модел</label>
                        </th>
                        <th>
                            <label>Код</label>
                        </th>
                        <th>
                            <label>Продукт</label>
                        </th>
                        <th ng-if="!selectedKalafcheStore.id">
                            <label>Магазин</label>
                        </th>
                        <th ng-if="isAdmin()">
                            <label>Служител</label>
                        </th>
                        <th ng-if="isAdmin()">
                            <label>Дата</label>
                        </th> 
                        <th ng-if="isAdmin()">
                            <label>Партньор</label>
                        </th>                       
                        <th ng-if="isAdmin()">
                            <label>Цена</label>
                        </th>
                        <th ng-if="isAdmin()">
                            <label>Продажна</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
<!--                     <tr dir-paginate="sale in sales | filter:(!!productCode || undefined) && filterByProductCode() | itemsPerPage: salesPerPage" current-page="currentPage" class="item-row"> -->
                    <tr dir-paginate="sale in sales | itemsPerPage: salesPerPage" current-page="currentPage" class="item-row">
                        <td>{{(currentPage - 1) * 15 + $index + 1}}</td>
                        <td>{{sale.deviceBrandName}}</td>
                        <td>{{sale.deviceModelName}}</td>
                        <td>{{sale.productCode}}</td>
                        <td>{{sale.productName}}</td>
                        <td ng-if="!selectedKalafcheStore.id">{{sale.kalafcheStoreName}}</td>
                        <td ng-if="isAdmin()">{{sale.employeeName}}</td>
                        <td ng-if="isAdmin()">{{getSaleTimestamp(sale)}}</td>
                        <td ng-if="isAdmin()">{{sale.partnerCode}}</td>
                        <td ng-if="isAdmin()">{{sale.cost}}</td>
                        <td ng-if="isAdmin()">{{sale.salePrice}}</td>                        
                    </tr>
                    <tr ng-show="isTotalSumRowVisible()" class="warning total-sum-row item-row" ng-if="isAdmin()">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td ng-if="!selectedKalafcheStore.id"></td>
                        <td></td>
                        <td></td>
                        <td><b>Брой продажби: {{sales.length}}</b></td>
                        <td></td>
                        <td><b>{{getTotalSum()}}</b></td>
                    </tr>
                </tbody>
            </table>
            <div class="centered-pagination">
                <dir-pagination-controls template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
            <div>
        </div>
        <div class="no-results-found col-xs-12" ng-if="sales.length === 0">
            <label>Няма регистрирани продажби за този период</label>
        </div>
    </div>
<!--     <div class="row" ng-show="isSpinnerVisible">
        <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->
</div>