<div ng-controller="ProductController">
    <div class="row">
        <div class="col-xs-12">
            <h4><label><u>Въвеждане на нов продукт</u><label></h4>
        </div>
    </div>
<!--     <form class="form-horizontal" name="productForm">
        <div class="form-group">
            <label for="inputProductCode" class="col-xs-1">Код:</label>
            <div class="col-xs-1">
                <input class="form-control" ng-model="product.code" name="inputProductCode" ng-class="{'error-form-control': productForm.inputProductCode.$invalid && productForm.inputProductCode.$dirty}" required="true" placeholder="Код" ng-change="resetErrorMessage()">
                <span ng-if="isCodeErrorMessageVisible" class="error-message">{{codeErrorMessage}}</span>
            </div>
            <div class="col-xs-9"></div>
        </div>

        <div class="form-group">
            <label for="inputName" class="col-xs-1">Име:</label>
            <div class="col-xs-5">
                <input class="form-control" ng-model="product.name" name="inputName" ng-class="{'error-form-control': productForm.inputName.$invalid && productForm.inputName.$dirty}" required="true" placeholder="Име" ng-change="resetErrorMessage()">
                <span ng-if="isNameErrorMessageVisible" class="error-message">{{nameErrorMessage}}</span>
            </div>
            <div class="col-xs-5"></div>
        </div>

        <div class="form-group">
            <label for="inputDescription" class="col-xs-1">Описание:</label>
            <div class="col-xs-10">
                <input class="form-control" ng-model="product.description" name="inputDescription" ng-class="{'error-form-control': productForm.inputDescription.$invalid && productForm.inputDescription.$dirty}" placeholder="Описание">
            </div>
        </div>

        <div class="form-group">
            <label for="inputDescription" class="col-xs-1">Цена:</label>
            <div class="col-xs-1">
                <input type="number" min="0" name="inputPrice" class="form-control" ng-class="{'error-form-control': productForm.inputPrice.$dirty && productForm.inputPrice.$invalid}" ng-model="product.price" required>
                <span ng-if="productForm.inputPrice.$dirty && productForm.inputPrice.$invalid" class="error-message">Попълването на цена е задължително</span>
            </div>
            <div class="col-xs-9"></div>
        </div>

        <div class="form-group">
            <div>
                <button type="submit" ng-click="submitProduct()" ng-disabled="productForm.$invalid" class="btn submit-button">Въведи</button>
            </div>
        </div>
    </form> -->

    <div class="row add-new-row">
        <div class="col-xs-2">
            <button class="btn" ng-disabled="isNewProductRowVisible" ng-click="addNewProductRow()" ng-if="isSuperAdmin()">Добави нов продукт</button>
        </div>
        <div class="col-xs-8">
        </div>
    </div>

    <div class="row item-table">
        <div class="col-xs-9">
            <form name="productFormTable" novalidate>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th><label>Продуктов код</label></th>
                            <th><label>Име</label></th>
                            <th><label>Онлайн Име</label></th>
                            <th><label>Описание</label></th>
                            <th><label>Цена</label></th>
                            <th><label ng-if="isSuperAdmin()">Доставна</label></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="isNewProductRowVisible" class="success item-row new-item-row" ng-form name="newProductFormRow">
                            <td><input name="inputProductCode" type="text" ng-model="newProduct.productCode" class="form-control item-code" ng-class="{'error-form-control': newProductFormRow.inputProductCode.$invalid && newProductFormRow.inputProductCode.$dirty}" required/></td>
                            <td><input name="inputName" type="text" ng-model="newProduct.name" class="form-control item-name" ng-class="{'error-form-control': newProductFormRow.inputName.$invalid && newProductFormRow.inputName.$dirty}" required="true"/></td>
                            <td><input name="inputOnlineName" type="text" ng-model="newProduct.onlineName" class="form-control item-name" ng-class="{'error-form-control': newProductFormRow.inputOnlineName.$invalid && newProductFormRow.inputOnlineName.$dirty}" required="true"/></td>
                            <td><input name="inputDescription" type="text" ng-model="newProduct.description" class="form-control item-description" ng-class="{'error-form-control': newProductFormRow.inputDescription.$invalid && newProductFormRow.inputDescription.$dirty}"/></td>
                            <td><input name="inputPrice" type="number" min="0" ng-model="newProduct.price" class="form-control item-price" ng-class="{'error-form-control': newProductFormRow.inputPrice.$dirty && newProductFormRow.inputPrice.$invalid}" required/></td>
                            <td><input ng-if="isSuperAdmin()" name="inputPurchasePrice" type="number" min="0" ng-model="newProduct.purchasePrice" class="form-control item-price" ng-class="{'error-form-control': newProductFormRow.inputPurchasePrice.$dirty && newProductFormRow.inputPurchasePrice.$invalid}" required/></td>
<!--                             <td>
                               <input type="file" name="file" ng-model="fileInput" id="file" onchange="" />
                            </td> -->
                            <td ng-if="isSuperAdmin()">
                                <a href="" ng-click="submitNewProduct()"><span class="glyphicon glyphicon-ok sell-item-icon"></span></a>
                                <a href="" ng-click="resetNewProduct()"><span class="glyphicon glyphicon-trash sell-item-icon"></span></a>
                            </td>
                        </tr>
                        <tr ng-repeat="product in products track by $index" ng-include="getTemplate(product)" class="item-row" ng-form name="editProductFormRow">
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>

<script type="text/ng-template" id="display">
    <td>{{product.code}}</td>
    <td>{{product.name}}</td>
    <td>{{product.onlineName}}</td>
    <td>{{product.description}}</td>
    <td>{{product.price}}</td>
    <td ng-if="isSuperAdmin()">{{product.purchasePrice}}</td>
    <td ng-if="isSuperAdmin()"><a href="" ng-click="editProduct(product)"><span class="glyphicon glyphicon-edit sell-item-icon"></span></a></td>
</script>
<script type="text/ng-template" id="edit">
    <td>{{product.code}}</td>
    <td><input name="inputName" type="text" ng-model="selectedProduct.name" class="form-control item-name" ng-class="{'error-form-control': editProductFormRow.inputName.$invalid && editProductFormRow.inputName.$dirty}" required/></td>
    <td><input name="inputOnlineName" type="text" ng-model="selectedProduct.onlineName" class="form-control item-name" ng-class="{'error-form-control': editProductFormRow.inputOnlineName.$invalid && editProductFormRow.inputOnlineName.$dirty}" required="true"/></td>
    <td><input name="inputDescription" type="text" ng-model="selectedProduct.description" class="form-control item-description" ng-class="{'error-form-control': editProductFormRow.inputDescription.$invalid && editProductFormRow.inputDescription.$dirty}"/></td>
    <td><input name="inputPrice" type="number" min="0" ng-model="selectedProduct.price" class="form-control item-price" ng-class="{'error-form-control':editProductFormRow.inputPrice.$dirty && editProductFormRow.inputPrice.$invalid}" required/></td>
    <td><input  ng-if="isSuperAdmin()" name="inputPurchasePrice" type="number" min="0" ng-model="selectedProduct.purchasePrice" class="form-control item-price" ng-class="{'error-form-control':editProductFormRow.inputPurchasePrice.$dirty && editProductFormRow.inputPurchasePrice.$invalid}" required/></td>
    <td ng-if="isSuperAdmin()">
        <a href="" ng-click="updateEdittedProduct($index)"><span class="glyphicon glyphicon-ok sell-item-icon"></span></a>
        <a href="" ng-click="resetSelectedProduct()"><span class="glyphicon glyphicon-remove sell-item-icon"></span></a>
    </td>
</script>