<div ng-controller="StockRelocationController">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-2">
                <label class="search-control-label" for="selectRelocationStatus">Статут:</label> 
                <select class="form-control search-control" name="selectRelocationStatus" ng-model="selectedRelocationStatus">
                    <option value="pending" ng-selected="true">Чакащи</option>
                    <option value="completed">Обработени</option>
                </select>
            </div>
            <div class="col-xs-10"></div>
        </div>
    </form>
    <div ng-if="!isAdmin()">
        <div class="row">
            <div class="col-xs-12">
                <h4><label><u>За моят магазин</u><label></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" ng-if="incomingStockRelocations.length > 0">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <label>Телефон</label>
                            </th>
                            <th>
                                <label>Код</label>
                            </th>
                            <th>
                                <label>Артикул</label>
                            </th>
                            <th>
                                <label>Магазин</label>
                            </th>
                            <th>
                                <label>Цена</label>
                            </th>
                            <th>
                                <label>Брой</label>
                            </th>
                            <th>
                                <label>Заявяване</label>
                            </th>
                            <th>
                                <label>Приключване</label>
                            </th>
                            <th>
                                <label>Одобрено</label>
                            </th>
                            <th>
                                <label>Пристигнало</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>               
                        <tr ng-repeat="relocation in incomingStockRelocations | filter: filterRelocation track by $index" class="item-row">
                            <td>{{$index + 1}}</td>
                            <td>{{relocation.deviceBrandName + ' ' + relocation.deviceModelName}}</td>
                            <td>{{relocation.itemProductCode}}</td>
                            <td>{{relocation.itemName}}</td>
                            <td>{{relocation.fromKalafcheStoreName}}</td>
                            <td>{{relocation.itemPrice}}</td>
                            <td>{{relocation.quantity}}</td>
                            <td>{{getRelocationTimestamp(relocation.relocationRequestTimestamp)}}</td>
                            <td>{{getRelocationTimestamp(relocation.relocationCompleteTimestamp)}}</td>
                            <td>
                                <span ng-if="relocation.approved" class="glyphicon glyphicon-ok"></span>
                                <span ng-if="relocation.rejected || (!isAdmin() && !relocation.approved)" class="glyphicon glyphicon-remove"></span>
                                <div ng-if="!relocation.approved && !relocation.rejected && isAdmin()">
                                    <a href="" ng-click="approveStockRelocation(relocation.id)"><span class="glyphicon glyphicon-ok stock-relocation-icon"></span></a>
                                    <a href="" ng-click="rejectStockRelocation(relocation)"><span class="glyphicon glyphicon-remove stock-relocation-icon"></span></a>
                                </div>
                            </td>
                            <td>
                                <span ng-if="!relocation.approved" class="glyphicon glyphicon-remove"></span>
                                <a ng-if="relocation.approved && !relocation.arrived" href="" ng-click="setStockRelocationArrived(relocation)">
                                    <span class="glyphicon" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-class="{'glyphicon-ok stock-relocation-icon': hover, 'glyphicon-remove stock-relocation-link': !hover}"></span>
                                </a>
                                <span ng-if="relocation.approved && relocation.arrived" class="glyphicon glyphicon-ok"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="no-results-found col-xs-12" ng-if="incomingStockRelocations.length === 0">
                <label>Няма регистрирани релокации за моят магазин</label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4><label><u>От моят магазин</u><label></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" ng-if="outgoingStockRelocations.length > 0">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <label>Телефон</label>
                            </th>
                            <th>
                                <label>Код</label>
                            </th>
                            <th>
                                <label>Артикул</label>
                            </th>
                            <th>
                                <label>Магазин</label>
                            </th>
                            <th>
                                <label>Цена</label>
                            </th>
                            <th>
                                <label>Брой</label>
                            </th>
                            <th>
                                <label>Заявяване</label>
                            </th>
                            <th>
                                <label>Приключване</label>
                            </th>
                            <th>
                                <label>Одобрено</label>
                            </th>
                            <th>
                                <label>Пристигнало</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>               
                        <tr ng-repeat="relocation in outgoingStockRelocations | filter: filterRelocation track by $index" class="item-row">
                            <td>{{$index + 1}}</td>
                            <td>{{relocation.deviceBrandName + ' ' + relocation.deviceModelName}}</td>
                            <td>{{relocation.itemProductCode}}</td>
                            <td>{{relocation.itemName}}</td>
                            <td>{{relocation.toKalafcheStoreName}}</td>
                            <td>{{relocation.itemPrice}}</td>
                            <td>{{relocation.quantity}}</td>
                            <td>{{getRelocationTimestamp(relocation.relocationRequestTimestamp)}}</td>
                            <td>{{getRelocationTimestamp(relocation.relocationCompleteTimestamp)}}</td>
                            <td>
                                <span ng-class="{'glyphicon glyphicon-ok': relocation.approved, 'glyphicon glyphicon-remove': !relocation.approved}"></span>
                            </td>
                            <td>
                                <span ng-class="{'glyphicon glyphicon-ok': relocation.arrived, 'glyphicon glyphicon-remove': !relocation.arrived}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="no-results-found col-xs-12" ng-if="outgoingStockRelocations.length === 0">
                <label>Няма регистрирани релокации от моят магазин</label>
            </div>
        </div>
    </div>

    <div ng-if="isAdmin()">
        <div class="row">
            <div class="col-xs-12">
                <h4><label><u>Релокации</u><label></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" ng-if="allStockRelocations.length > 0">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <label>Телефон</label>
                            </th>
                            <th>
                                <label>Код</label>
                            </th>
                            <th>
                                <label>Артикул</label>
                            </th>
                            <th>
                                <label>От магазин</label>
                            </th>
                            <th>
                                <label>За магазин</label>
                            </th>
                            <th>
                                <label>Служител</label>
                            </th>
                            <th>
                                <label>Цена</label>
                            </th>
                            <th>
                                <label>Брой</label>
                            </th>
                            <th>
                                <label>Заявяване</label>
                            </th>
                            <th>
                                <label>Приключване</label>
                            </th>
                            <th>
                                <label>Одобрено</label>
                            </th>
                            <th>
                                <label>Пристигнало</label>
                            </th>
                            <th ng-if="isSuperAdmin()"></th>
                        </tr>
                    </thead>
                    <tbody>               
                        <tr ng-repeat="relocation in allStockRelocations | filter: filterRelocation track by $index" class="item-row">
                            <td>{{$index + 1}}</td>
                            <td>{{relocation.deviceBrandName + ' ' + relocation.deviceModelName}}</td>
                            <td>{{relocation.itemProductCode}}</td>
                            <td>{{relocation.itemName}}</td>
                            <td>{{relocation.fromKalafcheStoreName}}</td>
                            <td>{{relocation.toKalafcheStoreName}}</td>
                            <td>{{relocation.employeeName}}</td>
                            <td>{{relocation.itemPrice}}</td>
                            <td>{{relocation.quantity}}</td>
                            <td>{{getRelocationTimestamp(relocation.relocationRequestTimestamp)}}</td>
                            <td>{{getRelocationTimestamp(relocation.relocationCompleteTimestamp)}}</td>
                            <td>
                                <span ng-if="relocation.approved" class="glyphicon glyphicon-ok"></span>
                                <span ng-if="relocation.rejected || (!isAdmin() && !relocation.approved)" class="glyphicon glyphicon-remove"></span>
                                <div ng-if="!relocation.approved && !relocation.rejected && isAdmin()">
                                    <a href="" ng-click="approveStockRelocation(relocation)"><span class="glyphicon glyphicon-ok stock-relocation-icon"></span></a>
                                    <a href="" ng-click="rejectStockRelocation(relocation)"><span class="glyphicon glyphicon-remove stock-relocation-icon"></span></a>
                                </div>
                            </td>
                            <td>
                                <span ng-class="{'glyphicon glyphicon-ok': relocation.arrived, 'glyphicon glyphicon-remove': !relocation.arrived}"></span>
                            </td>
                            <td ng-if="isSuperAdmin()">
                                <a ng-if="shouldArchiveButtonBeVisible(relocation)" href="" ng-click="archiveStockRelocation(relocation)" class="menu-panel-header">
                                    <span class="glyphicon glyphicon-folder-close delete-item-icon" title="Архивирай"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="no-results-found col-xs-12" ng-if="allStockRelocations.length === 0">
                <label>Няма регистрирани релокации</label>
            </div>
        </div>       
    </div>

</div>