<div ng-controller="RefundReportController" layout="column" ng-cloak>
    <md-content layout-padding layout="column">
        <div flex>
            <form>    
                <div layout="row" layout-xs="column" class="md-inline-form">
                    <div layout-xs="row" flex="20" flex-xs="100">
                        <md-input-container style="width:95%">
                            <label>Магазин</label>
                            <md-select name="selectStore" ng-model="selectedStore.id" ng-change="searchRefunds()">
                                <md-option value="0">Всички магазини</md-option>
                                <md-option value="ANIKO">Анико ЕООД</md-option>
                                <md-option value="AZARD">Азард ЕООД</md-option>
                                <md-option ng-repeat="store in stores" ng-value="store.id">
                                    {{store.city}}, {{store.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-xs="row" flex-offset="5" flex="50" flex-xs="100">
                        <md-input-container>
                            <md-datepicker style="width:100%" ng-model="startDate" md-min-date="startMinDate" md-max-date="startMaxDate" ng-change="changeStartDate()"></md-datepicker>
                        </md-input-container>
                        <md-input-container flex-offset="5">
                            <md-datepicker style="width:100%" ng-model="endDate" md-min-date="endMinDate" md-max-date="startMaxDate" ng-change="changeEndDate()"></md-datepicker>
                        </md-input-container>
                    </div>
                </div>

                <div layout="row" layout-xs="column" class="md-inline-form">
                    <div layout-xs="row" flex="50" flex-xs="100">
                        <md-input-container style="width:48%">
                            <label>Марка</label>
                            <md-select ng-model="selectedBrand.id" ng-change="resetCurrentPage()">
                                <md-option value="" selected></md-option>
                                <md-option ng-repeat="brand in brands" ng-value="brand.id">
                                    {{brand.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container style="width:48%">
                            <label>Модел</label>
                            <md-select ng-model="selectedModel.id" ng-disabled="!selectedBrand.id" ng-change="resetCurrentPage()">
                                <md-option value="" selected></md-option>
                                <md-option ng-repeat="model in models | filter: {deviceBrandId : selectedBrand.id} : true" ng-value="model.id">
                                    {{model.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-xs="row" flex-offset="5" flex="50" flex-xs="100">
                        <md-input-container flex="25">
                            <label>Код</label>
                            <input ng-model="productCode" name="productCode">
                        </md-input-container> 
                        <md-input-container flex-offset="15">
                            <md-button ng-click="searchRefunds()" class="md-raised md-primary">Търси</md-button>
                        </md-input-container>
                    </div>
                    </div>
            </form>
        </div>
        <div flex>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <label>Устройство</label>
                        </th>
                        <th>
                            <label>Код</label>
                        </th>
                        <th>
                            <label>Продукт</label>
                        </th>
                        <th>
                            <label>Магазин</label>
                        </th>
                        <th>
                            <label>Служител</label>
                        </th>
                        <th>
                            <label>Дата</label>
                        </th>                      
                        <th>
                            <label>Цена</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="expand(refund)" expand dir-paginate-start="refund in refunds | itemsPerPage:refundsPerPage" current-page="currentPage">
                        <td>{{$index + 1}}</td>
                        <td>{{refund.deviceModelName}}</td>
                        <td>{{refund.productCode}}</td>
                        <td>{{refund.productName}}</td>
                        <td>{{refund.storeName}}</td>
                        <td>{{refund.employeeName}}</td>
                        <td>{{convertEpochToDate(refund.timestamp)}}</td>
                        <td>{{refund.price}}лв</td>
                    </tr>
                    <tr dir-paginate-end ng-show="refund.expanded" class="sale-details">
                        <!-- <td></td> -->
                        <td colspan="8">
                            <div layout-padding layout="row">
                                <div flex="80"><span>{{refund.description}}</span></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div layout="row" layout-align="center center" class="centered-pagination">
                <dir-pagination-controls template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
            </div>
        </div>
    </md-content>
</div>