<div layout="column" ng-cloak>
     <md-content layout-padding layout="row" layout-xs="column">
        <div flex-xs="100" flex="50">
            <form name="discountCodeForm" server-validation novalidate>                
                <md-input-container class="md-block" flex="15">
                    <label>Код</label>
                    <input ng-model="discountCode.code" name="code" ng-disabled="discountCode.id" required>
                    <span ng-message="serverError" class="label label-error">{{serverErrorMessages.code}}</span>  
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Кампания</label>
                    <md-select name="discountCampaignId" ng-disabled="discountCode.id" ng-model="discountCode.discountCampaignId" required>
                        <md-option value="" selected></md-option>
                        <md-option ng-repeat="campaign in campaigns" ng-value="campaign.id">
                            {{campaign.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-checkbox ng-model="discountCode.active" class="md-primary">
                        Активен
                    </md-checkbox>
                </md-input-container>
            </form>
        </div>
    </md-content>
    <md-content layout="row">
        <md-button ng-disabled="discountCodeForm.$invalid" ng-click="submitDiscountCode()" class="md-raised md-primary">Запази</md-button>
        <md-button ng-if="discountCode.id" class="md-raised md-primary" ng-click="resetDiscountCodeForm()">Отмени</md-button>
    </md-content>
    <md-content layout-padding layout="row" layout-xs="column">
        <div flex="100">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th><label>Код</label></th>
                        <th><label>Кампания</label></th>
                        <th><label>Активен</label></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr dir-paginate="discountCode in discountCodes | filter: {discountCampaignId: discountCode.discountCampaignId}: true | itemsPerPage: discountCodesPerPage track by $index" current-page="currentPage" pagination-id="code" class="item-row">
                        <td>{{(currentPage - 1) * discountCodesPerPage + $index + 1}}</td>
                        <td>{{discountCode.code}}</td>
                        <td>{{discountCode.discountCampaignName}}</td>
                        <td>{{discountCode.active}}</td>
                        <td>
                            <a href="" ng-click="editDiscountCode(discountCode)">
                                <md-icon class="primary-icon" md-svg-src="images/icons/edit.svg"></md-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div layout="row" layout-align="center center" class="centered-pagination">
                <dir-pagination-controls pagination-id="code" template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
            </div>
        </div>
    </md-content>
</div>