<div layout="column" ng-cloak>
    <md-content layout-padding layout="column">
        <div flex>
            <form name="expenseForm" server-validation novalidate>
                <div layout="row">
                    <md-input-container flex="50" flex-xs="100">
                        <md-select ng-model="expense.storeId" ng-disabled="!isAdmin()" required>
                            <md-option ng-repeat="store in stores" ng-value="store.id">
                                {{store.city}}, {{store.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex flex-xs="100">
                        <label>Описание</label>
                        <input ng-model="expense.description" id="description" name="description" flex="50" required/>
                        <span ng-message="serverError" class="label label-error">{{serverErrorMessages.description}}</span>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="30" flex-xs="100">
                        <label>Тип</label>
                        <md-select name="expenseTypeCode" ng-model="expense.typeCode" required>
                            <md-option value="" selected></md-option>
                            <md-option ng-repeat="type in types" ng-value="type.code">
                                {{type.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="15" flex-xs="100">
                        <label>Цена</label>
                        <input type="number" min="0" step="0.01" ng-model="expense.price" name="price" id="price" required>
                        <span ng-message="serverError" class="label label-error">{{serverErrorMessages.price}}</span>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex flex-xs="100">
                        <input type="file" imageinput="image" ng-model="image" id="image" name="image" accept="image/*" filepreview="filepreview" flex="50"/>
                        <span ng-message="serverError" class="label label-error">{{serverErrorMessages.image}}</span>
                        <img ng-src="{{filepreview}}" ng-show="filepreview" flex-offset="10" flex="25"/>
                    </md-input-container> 
                </div>
                    <div layout="row">
        <md-input-container>
            <md-button ng-click="submitExpense()" ng-disabled="expenseForm.$invalid" class="md-raised md-primary">Запази</md-button>
        </md-input-container>
    </div>
            </form>
        </div>
    </md-content>

    
</div>