<md-dialog flex="30">
  <form name="relocationForm" server-validation novalidate ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Грешка</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeModal()">
           <md-icon md-svg-src="images/icons/close.svg" aria-label="Затвори"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <md-content layout-padding layout="column">
            <div flex>           
                <div layout="row">
                  <span>Възникна неочаквана грешка! Моля, обърнете се към системния администратор.</span>
                </div>   
            </div>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeModal()" class="md-raised md-primary">Ок</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>