<div ng-controller="EmployeeController" layout="column" ng-cloak>
     <md-content layout-padding layout="row">
        <div flex-xs="100" flex="50">
            <form name="employeeForm" server-validation novalidate>
                <md-input-container class="md-block">
                    <label>Имена</label>
                    <input ng-model="employee.name" name="name" required>
                    <span ng-message="serverError" class="label label-error">{{serverErrorMessages.name}}</span>
                </md-input-container>              
                <md-input-container class="md-block">
                    <label>Акаунт</label>
                    <input ng-model="employee.username" name="username" ng-disabled="employee.id" required>
                    <span ng-message="serverError" class="label label-error">{{serverErrorMessages.username}}</span>  
                </md-input-container>
                <md-input-container class="md-block" ng-if="!employee.id">
                    <label>Парола</label>
                    <input ng-model="employee.password" name="code" ng-disabled="employee.id" required>
                    <span ng-message="serverError" class="label label-error">{{serverErrorMessages.password}}</span>  
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Магазин</label>
                    <md-select name="storeId" ng-model="employee.storeId" required>
                        <md-option value="" selected></md-option>
                        <md-option ng-repeat="store in stores" ng-value="store.id">
                            {{store.city}}, {{store.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-checkbox ng-model="employee.enabled" class="md-primary">
                        Активен
                    </md-checkbox>
                </md-input-container>
            </form>
            <md-content layout="row">
                <md-button ng-disabled="employeeForm.$invalid" ng-click="submitEmployee()" class="md-raised md-primary">Запази</md-button>
                <md-button ng-if="employee.id" class="md-raised md-primary" ng-click="resetEmployeeForm()">Отмени</md-button>
            </md-content>
        </div>
    </md-content>
    <md-content layout-padding layout="row" layout-xs="column">
        <div flex="100">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th><label>Име</label></th>
                        <th><label>Акаунт</label></th>
                        <th><label>Магазин</label></th>
                        <th><label>Активен</label></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr dir-paginate="employee in employees | filter: {storeId: employee.storeId}: true | itemsPerPage: employeesPerPage track by $index" current-page="currentPage" class="item-row">
                        <td>{{(currentPage - 1) * employeesPerPage + $index + 1}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.account}}</td>
                        <td>{{employee.storeName}}</td>
                        <td>
                            <div ng-if="!employee.enabled">
                                <md-icon md-svg-src="images/icons/close.svg"></md-icon>
                            </div>
                            <div ng-if="employee.enabled">
                                <md-icon md-svg-src="images/icons/check.svg"></md-icon>
                            </div>
                        </td>
                        <td>
                            <a href="" ng-click="openEmployeeForEdit(employee)">
                                <md-icon class="primary-icon" md-svg-src="images/icons/edit.svg"></md-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div layout="row" layout-align="center center" class="centered-pagination">
                <dir-pagination-controls template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
            </div>
        </div>
    </md-content>
</div>