<div ng-controller="InStockController" layout="column" ng-cloak>
    <md-content layout-padding layout="column">
        <div flex>
            <form>
                <div layout="row" layout-xs="column">
                    <div layout-xs="row" flex="30" flex-xs="100">
                        <md-input-container flex="70">
                            <div data-barcode-scanner="barcodeScanned"></div>
                            <label>Баркод</label>
                            <input ng-model="selectedBarcode" maxlength="13">
                        </md-input-container>  
                    </div>  
                    <div layout-xs="row" flex="30" flex-xs="100">
                        <md-input-container flex style="width:48%">
                            <label>Марка</label>
                            <md-select ng-model="selectedBrand.id" ng-change="resetModel()">
                                <md-option value="" selected></md-option>
                                <md-option ng-repeat="brand in brands" ng-value="brand.id">
                                    {{brand.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex style="width:48%">
                            <label>Модел</label>
                            <md-select ng-model="selectedModel.id"
                                       md-on-close="clearModelSearchTerm()"
                                       data-md-container-class="selectSearchTermHeader"
                                       ng-disabled="!selectedBrand.id" ng-change="resetCurrentPage()">
                              <md-select-header class="select-header">
                                <input id="modelSearchTerm" ng-model="modelSearchTerm"
                                       type="search"
                                       placeholder="Търси модел.."
                                       class="header-searchbox md-text">
                              </md-select-header>
                              <md-option value="" selected>Всички</md-option>
                                <md-option ng-repeat="model in models | filter: {brandId : selectedBrand.id} : true |
                                  filter:modelSearchTerm" ng-value="model.id">
                                    {{model.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-xs="row" flex="20" flex-offset="5" flex-xs="100">
                        <md-input-container flex  flex style="width:100%">
                            <md-select ng-model="selectedStore.id">
                                <md-option value="0">Всички магазини</md-option>
                                <md-option ng-repeat="store in stores" ng-value="store.id">
                                    {{store.city}}, {{store.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-xs="row" flex="10" flex-offset="5" flex-xs="100">
                        <md-input-container flex>
                            <md-button ng-click="getInStock()" class="md-raised md-primary">Търси</md-button>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
        <div flex>
            <md-button ng-click="openSaleModal()" ng-if="currentSale.selectedStocks.length > 0" class="md-raised md-primary">Текуща продажба</md-button>
        </div>
        <div flex>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <label>Артикул</label>
                        </th>
                        <th>
                            <label>Кожа</label>
                        </th>
                        <th ng-if="selectedStore.id == 0">
                            <label>Магазин</label>
                        </th>
                        <th>
                            <label>Цена</label>
                        </th>
                        <th>
                            <label>Брой</label>
                        </th>
<!--                         <th ng-show="!(selectedStore.id==4 && isAdmin())">
                            <label ng-show="selectedStore.id==4">Моят Магазин</label>
                            <label ng-show="selectedStore.id!=4">Склад</label>
                        </th> -->
                        <th></th>
                    </tr>
                </thead>
                <tbody>               
                    <tr dir-paginate="inStock in inStockList | itemsPerPage: inStockPerPage track by $index"  current-page="currentPage" class="item-row">
                        <td>{{(currentPage - 1) * inStockPerPage + $index + 1}}</td>
                        <td>{{inStock.modelName}}</td>
                        <td ng-if="selectedStore.id == 0">{{inStock.storeName}}</td>
                        <td>{{inStock.leatherName}}</td>
                        <td>{{inStock.price}}</td>

                        <td>{{inStock.quantity}} <span ng-if="selectedStore.id!=4 && inStock.orderedQuantity && inStock.orderedQuantity > 0" class="ordered-stock-quantity"> + {{inStock.orderedQuantity}}</span></td>
                        <td>
                            <a ng-if="inStock.quantity > 0 && !isAdmin() && isEmployeeStoreSelected(inStock)" href="" ng-click="openSaleModal(inStock)">
                                <md-icon class="primary-icon" md-svg-src="images/icons/add_shopping_cart.svg"></md-icon>
                            </a>
 <!--                            <a ng-if="inStock.quantity > 0 && !isAdmin() && isEmployeeStoreSelected(inStock)" href="" ng-click="openWasteModal(inStock)">
                                <md-icon class="primary-icon" md-svg-src="images/icons/delete.svg"></md-icon>
                            </a>
                            <a ng-if="inStock.quantity > 0 && !isAdmin() && !isEmployeeStoreSelected(inStock)" href="" ng-click="openRelocationModal(inStock)">
                                <md-icon class="primary-icon" md-svg-src="images/icons/compare_arrows.svg"></md-icon>
                            </a> -->
                        </td>
                    </tr>
<!--                      <tr ng-show="isTotalSumRowVisible()" class="warning total-sum-row item-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td ng-if="selectedStore.id == 0"></td>
                        <td></td>
                        <td><b>{{getTotalSum()}}</b></td>
                        <td ng-show="!(selectedStore.id==4 && isAdmin())"></td>
                        <td></td>
                    </tr> -->
                </tbody>
            </table>
            <div layout="row" layout-align="center center" class="centered-pagination">
                <dir-pagination-controls template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
            </div>
        </div>

        <div flex ng-if="selectedStore.id != 0">
            <md-button type="submit" class="md-raised md-primary" ng-click="printStickersStocks()">Принтирай</md-button>
        </div>

    </md-content>
</div>