<md-dialog flex="60" ng-cloak>
  <form name="wasteForm" server-validation novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Бракуване на стока</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeModal()" ng-disabled="submitInProcess">
          <md-icon md-svg-src="images/icons/close.svg" aria-label="Затвори"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <md-content layout-padding layout="column">          
            <div layout="row">
                <md-input-container flex>
                    <label>Коментар</label>
                    <input type="text" min="1" max="300" name="description" ng-model="waste.description" required>
                </md-input-container>
            </div>  
            <div layout="row">
                <md-input-container flex>
                  <input type="file" imageinput="image" ng-model="image" id="image" name="image" accept="image/*" filepreview="filepreview" flex="50"/>
                  <span ng-message="serverError" class="label label-error">{{serverErrorMessages.image}}</span>
                  <img ng-src="{{filepreview}}" ng-show="filepreview" flex-offset="10" flex="25"/>
                </md-input-container> 
            </div>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="closeModal()" ng-disabled="submitInProcess" class="md-raised md-primary">Отмени</md-button>
      <span flex></span>
      <md-button ng-disabled="wasteForm.$invalid || submitInProcess" class="md-raised md-primary" ng-click="submitWaste()">Потвърди</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>